/* nav-bar styling */
.ribbon-span{
	padding: 0.5vw 1vw;
	color: white;
	margin: 0.5vw 0;
	border-radius: 0.5vw;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.count-cart{
	background-color: white;
	color: red;
	font-weight: bold;
	border-radius: 50%;
	padding: 0.25vw 0.75vw;
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
.ribbon-span:hover .count-cart{
	background: red;
	color: white;
}
.ribbon-span:hover{
	background-color: white;
	color: #000080;
}
.nav{
    padding: 1vw 6vw;
    background-color: #84dbffd1;
    box-shadow: 0 1px 10px 1px;
}
.small-nav{
    width: 100%;
}
.small-nav img{
	width: 6vw;
}
.logo-categories{
	align-items: center;
}
.categories ul{
	list-style-type: none;
}
.categories ul>li{
	font-size: 2vw;
    font-weight: 600;
    letter-spacing: 0.2vw;
    margin: 0 2vw;
    color: #000080;
    cursor: pointer;
    position: relative;
}
.category-bottom{
	width: 0;
	content: "";
	height: 3px;
	background-color: red;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.22s ease-in-out;
}
.categories ul>li:hover .category-bottom{
	width: 100%;
}
.search{
	display: flex;
	align-items: center;
	width: 30%;
}
.search-icon{
	display: flex;
    align-items: center;
}
.search-input{
	width: 100%;
}
.search-input input{
	width: 100%;
	padding: 0.5vw;
	outline: none;
	border: 0.25vw solid #000080;
	color: #000080;
	font-weight: bold;
}
.search-icon{
	padding: 0.5vw 0.75vw;
	background-color: #000080;
}
.search-icon i{
	color: white;
	font-weight: bold;
	
}

/* books styling*/
.books{
    padding: 1vw 6vw;
}
.books-contain{
    width: 100%;
}
.book{
    margin: 3vw 0;
}
.book img{
    width: 50%;
    align-self: center;
    border: 2px solid #000080;
    padding: 3px;
}
.book span{
    text-align: center;
    color: #000080;
    font-weight: bold;
    font-size: 2vw;
}
.book a{
    text-align: center;
}
.buy-check{
    width: 80%;
    align-self: center;
}
.book-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-button button{
    outline: none;
    border: none;
    background-color: #000080;
    color: white;
    border-radius: 1vw;
    padding: 0.5vw 1vw;
    margin-bottom: 1vw
}