.order-card{
    padding: 2vw;
}
.card-ribbon{
    padding: 1vw;
    background-color: #84dbffd1;
}
.card-ribbon span:first-child{
    background-color: white;
    color: #000080;
    padding: 0.25vw 0.5vw;
    border-radius: 2px;
    margin-right: 1vw;
}
.card-ribbon span{
    color: #000080;
    font-weight: bold;
}
.login-signup span{
    top: 50%;
    transform: translatey(-50%);
    left: 7px;
    z-index: -1;
    color: grey;
    transition: all 0.2s ease-in-out;
}
.login-signup input{
    width: 22vw;
    padding: 0.5vw;
    border: none;
    border-bottom: 2px solid #000080;
    outline: none;
    background: transparent;
}
.login-signup-button button{
    font-size: 1vw;
    font-weight: bold;
    color: #000080;
    padding: 0.5vw 1vw;
    background-color: transparent;
    border: 2px solid #000080;
    transition: all 0.2s ease-in-out;
    margin: 0 1vw;
}
.login-signup-button button:hover{
    color: white;
    background-color: #000080;
}
.change-button{
    border: 1px solid #000080;
    margin-left: 1vw;
    background: transparent;
    color: #000080;
    outline: none;
    font-weight: 600;
}
.q-in{
    align-items: center;
}
.q-in input{
    width: 4vw;
    outline: none;
}
.book-selected{
    width: 20%;
}
.img-desc{
    width: -webkit-fill-available;
    padding-left: 3vw;
}
.img{
    margin-bottom: 1vw;
}
.img img{
    width: 100%;
    border: 3px solid #000080;
    padding: 2px;
}
.order-email{
    margin-bottom: 1vw;
    font-size: 1.5vw;
    font-family: emoji;
    font-weight: bold;
    color: #000080;
}
.name span:first-child{
    font-size: 2vw;
    font-weight: bold;
    color: #000080;
    letter-spacing: 2px;
}
.stocks span{
    color: #000080;
    font-size: initial;
    font-weight: normal;
}
.price span{
    font-size: 1.5vw;
    font-weight: bold;
    color: #000080;
}
.confirm{
    width: 100%;
}
.confirm button{
    background-color: #000080;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: 3px;
}
.confirm button:hover{
    box-shadow: 0px 0px 6px 1px black;
}
.confirm span{
    font-weight: bold;
    font-size: x-large;
    color: green;
}
.payment-method span{
    font-size: 2vw;
    color: #000080;
    font-weight: 600;
}
.total{
    padding: 2vw;
}
.items span{
    font-weight: bold;
    font-size: 2vw;
    color: #000080;
}
.delivery-charge{
    padding-bottom: 1vw;
    border-bottom: 1px solid grey;
}
.delivery-charge span{
    font-weight: 600;
    font-size: 1.5vw;
    color: #000080;
}
.acknowledge-all button{
    background-color: #000080;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: 3px;
}
.acknowledge-all button:hover{
    box-shadow: 0px 0px 6px 1px black;
}